.docs pre {
  width: 100%;
  border: 1px solid #bcbcbc;
  padding: 15px;
  white-space: pre-wrap;
  word-break: keep-all;
}

.docs hr {
  border: 0;
  border-top: 1px solid #e4a5f0;
  margin: 0;
  margin-top: 5px;
}

.docs h1 {
  color: #8d289f;
}

.docs h2 {
  color: #8d289f;
  font-weight: 400;
  margin-top: 100px;
  font-size: 26px;
}

.docs h3 {
  color: #8d289f;
  font-weight: 400;
  font-size: 16px;
}

.docs a {
  color: #8d289f;
}
