.docs pre {
  width: 100%;
  border: 1px solid #bcbcbc;
  padding: 15px;
}

.docs hr {
  border: 0;
  border-top: 1px solid #e4a5f0;
  margin: 0;
  margin-top: 5px;
}

.docs h1 {
  color: #d800ff;
}

.docs h2 {
  color: #d800ff;
  font-weight: 400;
  margin-top: 50px;
}

.docs h3 {
  color: #d800ff;
  font-weight: 400;
  font-size: 16px;
}

.docs a {
  color: #d800ff;
}
